* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* navbar */
#main {
    padding: 50px 164px 0 164px;
    max-width: 1440px;
    margin: auto;
}

#brandLinksWrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

#linksContainer {
    display: flex;
    gap: 25px;
}

#linksContainer a {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #A8A0B0;
    transition: all 0.2s;
    transition: all 200ms;
}

.activeLink {
    color: #25202F !important;
}

#navContainer {
    display: flex;
    justify-content: space-between;
}

#menu {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

#menu:hover {
    background: #F1f1f1;
}

#menu:active {
    background: #fff;
}

#linksContainer a:hover {
    color: #c0b6c9 !important;
}

/* end of navbar */

/* home */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#hello {
    /* color: #A8A0B0; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #666666;
    white-space: nowrap;
}

#name {
    font-size: 44px;
    white-space: nowrap;
}

#job {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    white-space: nowrap;
    margin-top: 20px;
}

#talkBtn {
    width: 200px;
    height: 60px;
    background: #8643DC;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    transition: background 0.2s;
    margin-top: 50px;
}

#talkBtn:hover {
    background: #955ce0;
}

#talkBtn:active {
    background: #8643DC;
}

/* end of home */
  /* start of service*/
  .mainservice{
      display: flex;
  }
  h1{
      color: #8643DC;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    
      
  }
  
.iconphone{
    padding:20px 5px 0 30px;
}
span{
    padding: 30px;
    
}
.text1{
    text-align: justify;
    padding: 10px;
    width: 200px;
    height: 200px;
    padding-bottom;10px: ;
}
.icon{
    padding:30px 0 0 60px;
}
.branddesign{
    padding: 30px;
}
.text2{
    text-align: justify;
    padding: 10px;
    width: 200px;
    height: 200px;
}
.web{
    padding: 30px;
}
 
.icon2{
    padding: 30px 0 0 60px;
} 
.text3{
    text-align: justify;
    width: 200px;
    height: 200px;
    padding: 10px;
}   





/* logo */
.clients{
    color: #8643DC;
}
.clients_part{
    display: flex;
}
.blog{
    color: #8643DC;
}
.blog_part{
    display: flex;
}

.friends_part{
    text-align: justify;
}


